.list {
  list-style: none;
  padding: 0px;
  margin: 20px 0px;
  margin-top: 15px;
}
.item {
  padding: 10px 15px;
  width: 450px;
  display: flex;
  border: 2px solid rgb(78, 194, 194);
  align-items: center;
  background-color: wheat;
  margin-bottom: 5px;
}

.online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.name {
  margin-left: 15px;
}
